# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Binarios compilados
dist/
*.exe
*.msi

# Dados locais
*.json
!config.json
!config.example.json

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
